:root {
  //fonts
  --font-main: 'Inter', sans-serif;
  --font-numbers: 'DM Sans', sans-serif;

  --font-size-paragraph: 16px;

  --line-height-paragraph: 2;

  //colors
  --color-primary: #5ECAC0;
  --color-primary-soft: #D3F6F3;
  --color-primary-light: #F7FEFE;
  --color-primary-dark: #3C9F96;

  --color-subtle: #F5F5F5;

  --color-text-dark: #2C3E43;
  --color-text-caption: #6B7D84;

  --color-border: #E3E8E8;

}